body{
    background-color:#E04A25;
}
.background{
    display:flex;
    justify-content:center;
    width: 100%;
    height:55vh;
    border:1px solid black;
    background-image: url("https://s.aolcdn.com/hss/storage/midas/1c9e9f5ea64fe80b43ed4207cbae028b/200825673/gif_614x258_33bc34.gif");
    background-repeat:no-repeat;
    background-size:cover;
    background-position: bottom;
}
#Enemy{
    margin-top:10px;
    display:flex;
    justify-content:center;
}
.content{
    width: 100%;
    height:50vh;
    border:1px solid black;
}

.Question{
     width: 100%;
    height:10vh;
    border:1px solid black;
}
.question{
    font-family: 'Mukta', sans-serif;
    font-size:30px;
    margin-left:10px;
    margin-top:20px;
}    
.answer{
    font-family: 'Muli', sans-serif;
    font-size:20px;
    width:50%;
    margin:10px;
    padding-left:10px;
    padding:3px;
    border:2px black solid;
    border-radius:10px;
    
}
.answer:hover{
    color:white;
    background-color:#EB0F0F;
}

    

.Health{
    background-color: #20990B;
    
    width:100%;
    height:25px;
    position:fixed;
    display:flex;
    color:black;
    font-weight:bold;
    font-size:17px;
}
#YourHealth{
    width:50%;
    background-color: #20990B;
    border:2.5px solid black;
    
}
#EnemyHealth{
    width:50%;
    text-align: right;
    background-color: #20990B;
    border:2.5px solid black;
}

#enemyimage {
    width: 50%;
}